{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% for shelf in shelfs %}
        <div class="shelf">
            <h2 class="shelfTitle">{{ shelf.name }}</h2>
            {% for shelfBook in shelf.category.values %}
                {% for book in shelfBook.books.values %}
                    {% if book.borrowStatus != 1 %}
                        <div class="book">
                            <div class="bookDescribe">
                                <p>Titre: <span class="bookName">{{ book.name }}</span></p>
                                <p>Catégorie: {{ book.category.name }}</p>
                                <a href="/delete/{{ book.id }}"><button>Supprimer le livre</button></a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor%}
        </div>
    {% endfor %}
{% endblock %}
